/*--------------------------------------------------------------- week's forecast */

div.weekly-forecast {
  text-align: center;
  margin-top: 100px;
  padding: 3em;
  max-width: 1300px;
  background-color: rgba(148, 203, 255, 0.13);
  border-radius: 1em;
}

.day-weather {
  width: auto;
  height: 120px;
  margin-top: -100px;
  margin-bottom: 20px;
}

.day-name {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 3px;
}

.high-temp {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 3px;
}

.low-temp {
  font-weight: 500;
  font-size: 1.5em;
}
